/tmp
.java-version
*.jar
workflow/modules.zip
workflow/test_*
workflow/test_*
workflow/test_*
configure_cromwell.py
.service_account.key.pem
.service_account.email.txt
**/.DS_Store
input_dx.json
_dx_run.sh
whitelist/test/
_tmp_pass.*