/tmp
workflow_options/options.json
.java-version
*.jar
workflow/modules.zip
workflow/test_*
workflow/test_*
workflow/test_*
.service_account.key.pem
.service_account.email.txt
**/.DS_Store
input_dx.json
_dx_run.sh
whitelist/test/
_tmp_pass.*
.Rhistory
/run_history
input/config/batch
/docker/annovar/annovar/humandb/
/docker/annovar/annovar/example/
/docker/annovar/annovar/*.pl
/docker/annovar/annovar.latest.tar.gz